.playlistContainer {
  height: calc(100% - 186px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.playListList{
  list-style: none;
}

.playlistItem {
  color: #cacaca;
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
}