.player_container {
	width: 50%;
	padding: 1rem;
	border: 1px solid #8d8d8d;
	border-radius: 10px;
	color: #dadada;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

.player_container > * {
	padding: 1rem 0;
	color: #cacaca;
}

.player_container .title {
	font-size: inherit;
}

.player_container .navigation {
	width: 100%;
}

.player_container .navigation .navigation_wrapper {
	min-width: 100%;
	background-color: rgba(119, 119, 119, 0.781);
	height: 5px;
	border-radius: 30px;
	cursor: pointer;
}

.player_container .navigation .navigation_wrapper .seek_bar {
	width: 0;
	height: 100%;
	background-color: #188003;
	border-radius: 30px;
}

.player_container .controls {
	font-size: inherit;
	display: flex;
	align-items: center;
}

.player_container .controls .btn_action {
	font-size: 2rem;
	margin: 0 1rem;
	cursor: pointer;
}

.player_container .controls .btn_action:hover {
	color: white;
}

.player_container .controls .pp {
	font-size: 4rem;
}
